.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  width: 64px;
  height: 64px;
  gap: 6px;

  * {
    pointer-events: none;
  }

  :hover {
    cursor: pointer;
  }
}